// Alert Component Stylesheet
// ========================================

.alert {

      &--white {
            color: $white;
            text-align: left;
            font-weight: bold;
        }

      &--error {
          padding: $small-spacer;
          background-color: $error;
      }

      &--success {
          padding: $small-spacer;
          background-color: $success;
      }

      &--notification {
          padding: $small-spacer;
          background-color: $gray;
      }
}
