// Alert Component Stylesheet
// ========================================

.alert {

  &--error {
      padding: 10px;
      background-color: $error;
      margin-bottom: 15px;
  }

  &--success {
      padding: 10px;
      background-color: $success;
      margin-bottom: 15px;
  }

  &--notification {
      padding: 10px;
      background-color: $gray;
      margin-bottom: 15px;
  }
}

.alert--p {
    text-align: left;
    font-weight: bold;

    &-white {
        color: $white;
        text-align: left;
        font-weight: bold;
    }
}
