// Button Component Stylesheet
// ========================================

.button {
    width: 20%;
    margin: auto;
    display: block;
    font-size: 25px;
    border-radius: 17px;

    &--primary {
      background-color: $teal;
      color: $white;
      padding: $spacer-s;
      border-radius: 5px;

      @include media($small) {
          font-size: 20px;
      }

    &:hover {
        color: $golden;
        background-color: #2a393e;
    }
  }

  &--secondary {
      background-color: $turquoise;
      color: $white;

      @include media($small) {
          font-size: 15px;
      }

    &:hover {
        color: $dark;
        background-color: #71b5af;
    }
  }

  &--disabled {
      background-color: #d3d3d3;
      color: $white;

      @include media($small) {
          font-size: 15px;
      }
  }
}
