// Form Elements Stylesheet
// ========================================

.input {
    width: 45%;
    margin: auto;
    padding: $spacer-s;
    box-sizing: border-box;
    border: 2px solid $dark;
    border-radius: 5px;
    color: $dark;
    display: block;

    &__label {
        color: $dark;
        margin: $spacer-m;
    }
}

//#input_error[type=text] {
//    border: 2px solid $error;
//}

select {
    margin: $spacer-m;
}
