// Form Elements Stylesheet
// ========================================

.input {
    width: 65%;
    margin: auto;
    padding: $spacer-s;
    box-sizing: border-box;
    border: 1px solid $dark;
    border-radius: 5px;
    color: $dark;
    display: block;
    margin-bottom: $spacer-lg;

    &--modal {
        @extend .input;
        padding: $spacer-xs;
    }

    &__label--modal {
        color: $dark;
        font-family: $primary-font;
    }
}

select {
    width: 65%;
    display: block;
    border: 1px $dark solid;
    height: 35px;
    margin: auto;

    @include media($medium) {
        width: 30%;
    }
}

#method {
    margin-bottom: $spacer-lg;
}
