// Colors Variables Settings Stylesheet
// ========================================

//Accent colors
$dark: #343233;
$white: #FCFCFD;
$gray: #676669;

//3 Primary colors
$teal: #0B333F;
$turquoise: #01B6A7;
$golden: #F3982D;

//2 Alert/Error colors
$success: #69C8C2;
$error: #F5612D;


// Main Palette List
$colors: (
  'dark':          $dark,
  'white':         $white,
  'gray':          $gray,
  'teal':          $teal,
  'turquoise':     $turquoise,
  'golden':        $golden,
  'success':       $success,
  'error':         $error
);
