// Typography Variables Settings Stylesheet
// ===============================================

$primary-font: 'Bree Serif', serif;
$secondary-font: 'Open Sans', sans-serif;

$type-colors: (
  'black':     ( black ),
  'white':     ( white ),
);
