// Typography Variables Settings Stylesheet
// ===============================================

// Font Families
$primary-font: 'Bree Serif', serif;
$secondary-font: 'Open Sans', sans-serif;


// Text Colors Map
$type-colors: (
  'black':     ( black ),
  'white':     ( white ),
);
