// Base Layout Stylesheet
// This is where your layout of the project will go
// ========================================

 .body {
     background-image: url("background_watercolor.png");
     background-repeat: no-repeat;
     text-align: center;
     font-family: 'Bree Serif', serif;
 }

 .header {
     text-align: center;
     margin-top: 25px;
  }

.footer {
    padding: $spacer-lg;
    background-color: $gray;

    .footer__p {
        text-align: center;
        font-size: 15px;
        color: $teal;
    }
}
