// Base Layout Stylesheet
// ========================================

 .body {
     text-align: center;
 }

 .header {
     text-align: center;
     margin-top: 25px;
  }

.footer {
    padding: $spacer-lg;
    background-color: $gray;

    .footer__p {
        text-align: center;
        font-size: 15px;
        color: $teal;
    }
}

.section__about {
    background-color: #bebdc0;
}

.section__testimonial {
    background-color: #cddbdb;

    &--backgroundimage {
        z-index: -10;
    }
}
