// Base Typography Stylesheet
// This is where your base typography will go
// ========================================

h1, h2, h3, h4, h5, h6 {
    color: $teal;
    font-family: 'Bree Serif', serif;

}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

p {
    color: $dark;
    font-family: 'Open Sans', sans-serif;
    padding: 15px;
}

a {

  &:hover, &:active {
      color: $teal;
      background-color: $gray;
      text-decoration: none;
  }

  &:visited, &:link {
      color: $golden;
      text-decoration: none;
  }
}
