// Base Typography Stylesheet
// ========================================

h1, h2, h3, h4, h5, h6 {
    color: $teal;
    font-family: $primary-font;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 27px;
    color: $golden;
    margin: $spacer-m;
}

h3 {
    font-size: 23px;
}

h4 {
    font-size: 20px;
    padding-bottom: $spacer-m;
}

h5 {
    font-size: 17px;
}

h6 {
    font-size: 15px;
}

p {
    color: $dark;
    font-family: $secondary-font;
    padding: $spacer-m;
}

a {

  &:hover, &:active {
      background-color: $gray;
      border-radius: 5px;
      text-decoration: none;

  }

  &:visited, &:link {
      color: $golden;
      text-decoration: none;
  }
}
